body{
    background: url(https://cdn.pixabay.com/photo/2017/11/16/09/32/matrix-2953869__480.jpg) no-repeat center fixed;
    background-size:cover; 
    font-family: sans-serif;
}

.container{
    background-color:#68B857;
    width: 40%;
    margin: auto;
    /* overflow: hidden; */
    padding: 1rem;
    border-radius:10px;
    text-align: center;
    margin-top: 7%
}
hr{
    width: 80%;
    margin-top: 20px;
}
.fb{
    padding: 0.5rem 2rem;
    color:#68B857;
    background-color:#1F5616;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
}

.container input{
    padding:0.5rem;
    width:70%;

}

.container input[type=checkbox]{
    width: auto;
}

.btn{
    padding: 0.5rem 2rem;
    background-color: #68B857;
    font-size: 1rem;
    width: 50%;
    border-radius:7px;
    border:none;
}

form div{
    margin:15px;
}